# basic gitignore file
# Rust artifacts
target/

# Generated documentation
/doc/

# Build output
build/

# Ignore main binary files in all directories and subdirectories
**/main

# OS-specific files
.DS_Store
Thumbs.db

